# Graded Assignment 3: 9 to 5

Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.

## The Dataset

For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on [Kaggle](https://www.kaggle.com/datasets/bls/employment).

## Business Issue

You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.

## About the Dataset

This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:

1. The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.
1. Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.

## Set Up

To connect to the database, use the same connection info used during the SQL lessons. 

For the assignment, we will be using `LaborStatisticsDB`.

## Database Exploration

To start with, let’s get to know the database further.

1. Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with `LaborStatisticsDB`.
   
   To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the link button to the right of the  </> symbol in the gray part of this cell, the link is just the name of your file.

2. What is the datatype for women employees?

In [ ]:
--data_type_code is 10. Text "WOMEN EMPLOYEES"

--Query:

select * from laborstatisticsdb.dbo.datatype
where data_type_text LIKE '%women%';

3. What is the series id for  women employees in the commercial banking industry in the financial activities supersector?

In [ ]:
--Series ID: CES5552211010

--Query:

select DISTINCT * from LaborStatisticsDB.dbo.series
where supersector_code = 55 AND data_type_code = 10 AND industry_code = 55522110;

## Aggregate Your Friends and Code some SQL

Put together the following:

1. How many employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
--2,340,612 employees

--Query:

select sum([value]) AS "sumAllEmployees"
from LaborStatisticsDB.dbo.annual_2016 
where series_id LIKE '%01' or series_id LIKE '%25' or series_id like '%26';

2. How many women employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
--1,125,490 women employees

--Query

select sum([value]) AS "sumAllWomen"
from LaborStatisticsDB.dbo.annual_2016 
where series_id LIKE '%10';

3. How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.

In [ ]:
--1,263,650 production/nonsupervisory employees

--Query:

select sum([value]) AS "sumProdAndNonSup"
from LaborStatisticsDB.dbo.annual_2016 
where series_id LIKE '%06';

4. In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?

In [ ]:
--Average is 36 hours worked

--Query: 

select avg([value]) as "avgWeeklyHrsWorkedProd"
from LaborStatisticsDB.dbo.january_2017
where series_id LIKE '%07'

5. What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny.

In [ ]:
--Total Weekly is 84,559,120

--Query:

select SUM([value]) as "totalWeeklyPayrollProd"
from LaborStatisticsDB.dbo.january_2017
where series_id LIKE '%81'

6. In January 2017, for which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
--Industry was Total Private

--Took Three Queries

select * 
from LaborStatisticsDB.dbo.january_2017
where series_id LIKE '%81'
ORDER BY "value" desc;

select * 
from LaborStatisticsDB.dbo.series
where series_id = 'CES0500000081';

select *   
from LaborStatisticsDB.dbo.industry
where industry_code = 05000000;

7. In January 2021, for which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
--Industry was Land subdivision

--Three Queries:

select * 
from LaborStatisticsDB.dbo.january_2017
where series_id LIKE '%81'
ORDER BY "value" ASC;

select * 
from LaborStatisticsDB.dbo.series
where series_id = 'CES2023720081';

select *   
from LaborStatisticsDB.dbo.industry
where industry_code = 20237200;

## Join in on the Fun

Time to start joining! You can choose the type of join you use, just make sure to make a  note!

1. Join `annual_2016` with `series` on `series_id`. We only want the data in the `annual_2016` table to be included in the result.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
SELECT TOP 50 * 
FROM LaborStatisticsDB.dbo.annual_2016 as a
LEFT JOIN LaborStatisticsDB.dbo.series as s ON a.series_id = s.series_id;

--INNER JOIN and LEFT JOIN give same results here, so either could be used

-- Uncomment the line below when you are ready to run the query, leaving it as your last!
SELECT TOP 50 * 
FROM LaborStatisticsDB.dbo.annual_2016 as a
LEFT JOIN LaborStatisticsDB.dbo.series as s ON a.series_id = s.series_id
ORDER BY id;

2. Join `series` and `datatype` on `data_type_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
-- NOTE, AM UNSURE WHETHER OR NOT THIS IS ITS OWN TABLE OR AM SUPPOSED TO JOIN TABLES IN ORDER. DID THE LATTER. 
-- BUT IN THE CASE OF THE LATTER, THEN ONLY KEEPING INFORMATION IN ANNUAL_2016 FEELS LIKE IT CAN NO LONGER BE THE CASE
SELECT TOP 50 * 
FROM LaborStatisticsDB.dbo.annual_2016 as a
LEFT JOIN LaborStatisticsDB.dbo.series as s ON a.series_id = s.series_id
FULL OUTER JOIN LaborStatisticsDB.dbo.datatype as d ON s.data_type_code = s.data_type_code


-- Uncomment the line below when you are ready to run the query, leaving it as your last!
-- ALSO UNSURE WHETHER OR NOT 'id' IS LITERALLY THE ID COLUMN OR A REFERENCE TO SOMETHING TO BE REPLACED
SELECT TOP 50 * 
FROM LaborStatisticsDB.dbo.annual_2016 as a
LEFT JOIN LaborStatisticsDB.dbo.series as s ON a.series_id = s.series_id
FULL OUTER JOIN LaborStatisticsDB.dbo.datatype as d ON s.data_type_code = s.data_type_code
ORDER BY id;

3. Join `series` and `industry` on `industry_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
SELECT TOP 50 * 
FROM LaborStatisticsDB.dbo.annual_2016 as a
LEFT JOIN LaborStatisticsDB.dbo.series as s ON a.series_id = s.series_id
RIGHT JOIN LaborStatisticsDB.dbo.datatype as d ON s.data_type_code = s.data_type_code
FULL OUTER JOIN LaborStatisticsDB.dbo.industry as i ON i.industry_code = s.industry_code
ORDER BY a.id;

## Subqueries, Unions, Derived Tables, Oh My!

1. Write a query that returns the `series_id`, `industry_code`, `industry_name`, and `value` from the `january_2017` table but only if that value is greater than the average value for `annual_2016` of `data_type_code` 82.

In [ ]:
SELECT series_id, [value], industry_code, industry_name
from LaborStatisticsDB.dbo.january_2017 as j
INNER JOIN  LaborStatisticsDB.dbo.industry as i ON j.id = i.id
WHERE [value] > (
    select AVG(a.value) from LaborStatisticsDB.dbo.annual_2016 as a
    where a.series_id LIKE '%82');

**Optional Bonus Question:** Write the above query as a common table expression!

In [ ]:
-- Optional CTE below

--I'mma be real, CTEs are like the one thing I'm still struggling to wrap my head around. I hope to rewatch
--Rose's explanation of them in the relevant lectures, both of the prior Tuesdays, and feel them out more.

2. Create a `Union` table comparing average weekly earnings of production and nonsupervisory employees between `annual_2016` and `january_2017` using the data type 30.  Round to the nearest penny.  You should have a column for the average earnings and a column for the year, and the period.

In [ ]:
--Annual 2016 -- 797.20
--Jan 2017 -- 808.530

--Query:

SELECT avg([value]) as "avgEarnings", period, [year]
FROM LaborStatisticsDB.dbo.annual_2016
WHERE series_id LIKE '%30'
GROUP BY [year], [period]
UNION
SELECT avg([value]) as "avgEarnings", period, [year]
from LaborStatisticsDB.dbo.january_2017
WHERE series_id LIKE '%30'
GROUP BY [year], [period]

## Summarize Your Results

With what you know now about the  Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the Labor Statistics Database, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.

1. During which time period did production and nonsupervisory employees fare better?

--Prod and Nonsupervisory employees fared better (averaged more weekly earnings) in Jan 2017 compared to annual_2016

Data: Query in previous question.

2. In which industries did production and nonsupervisory employees fare better?

--So there's multiple interpretations of this, where is it "fare better relative to their same classification of employees" or "fare better relative to all employees?" 

I chose the former because it felt more interesting and less noisy as there is not a classification for all employees except prod/non sup employees

Here is the Query:

select i.industry_name, j.value

from LaborStatisticsDB.dbo.industry as i

INNER JOIN LaborStatisticsDB.dbo.january_2017 as j ON i.id = j.id

where j.[value] > (

    select avg(j.value) 

    from LaborStatisticsDB.dbo.january_2017 as j

    where (j.series_id LIKE '%30' OR j.series_id LIKE '%31')

) 

AND (j.[series_id] LIKE '%30' OR j.series_id LIKE '%31')

ORDER BY j.value DESC

"Monetary authorities - central bank" fared the best, at average weekly earnings of 1847.47

To change it to the latter interpretation, simply change the j.series_id in the subquery to LIKE '%11' OR LIKE '%12'

3. Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?

More than anything, I would love monthly data from 2016 instead of just annual aggreate. Would be very nice to be able to break the data down further, instead of comparing one month to a whole year's average. 

Also it's kind of weird as hell that so many data_type_text entries have duplicates where multiple data_type_codes work for them. I would like for them to be one code.